<div class="item-list mb-3">
    <div class="col media py-3"
      *ngFor="let item of paymentList">
      <div class="mr-3">
        <button class="btn btn-sm btn-danger"
            (click)="handleDelete(item)"
        >X</button>

      </div><!-- media-left -->
  
      <div class="media-body">
        <div class="d-flex">
          <span class="pet-name" contenteditable="true">{{item.paymentValue}}</span>
          <span class="apt-date ml-auto">{{item.paymentDate | date: 'd/M h:mm a'}}</span>
        </div>
  
        
      </div>
    </div>
  </div>