<main class="page bg-white" id="petratings">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">

        <div class="container">
          <h2 class="py-5">{{title}}</h2>
          <app-add
          (addEvt)="addPaymentItem($event)"
          ></app-add>
          <app-edit></app-edit>
          <app-list 
           [paymentList]="theList"
           (deleteEvt)="deletePaymentItem($event)"
          ></app-list>
        </div>

      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</main><!-- main -->
<script>
      alert("hola");

$('.number').keypress(function(event) {
    var $this = $(this);
    if ((event.which != 46 || $this.val().indexOf('.') != -1) &&
    ((event.which < 48 || event.which > 57) &&
    (event.which != 0 && event.which != 8))) {
        event.preventDefault();
    }

    var text = $(this).val();
    if ((event.which == 46) && (text.indexOf('.') == -1)) {
        setTimeout(function() {
            if ($this.val().substring($this.val().indexOf('.')).length > 3) {
                $this.val($this.val().substring(0, $this.val().indexOf('.') + 3));
            }
        }, 1);
    }

    if ((text.indexOf('.') != -1) &&
        (text.substring(text.indexOf('.')).length > 2) &&
        (event.which != 0 && event.which != 8) &&
        ($(this)[0].selectionStart >= text.length - 2)) {
            event.preventDefault();
    }      
});

$('.number').bind("paste", function(e) {
var text = e.originalEvent.clipboardData.getData('Text');
if ($.isNumeric(text)) {
    if ((text.substring(text.indexOf('.')).length > 3) && (text.indexOf('.') > -1)) {
        e.preventDefault();
        $(this).val(text.substring(0, text.indexOf('.') + 3));
}
}
else {
        e.preventDefault();
    }
});
</script>