/* You can add global styles to this file, and also import other style files */
input.ng-invalid{
    background-color:#DA5235;
    color:white;
  }

 select.ng-invalid{
    background-color:#DA5235;
    color:white;
  }
  
  .fade.show {
    opacity: 1;
}
